/* semantic color variables for this project */
:root {
  --color: #212121;
  --color-muted: #b4b4be;
  --background: #fff;
  --background-secondary: #e8f0fb;
  --background-muted: #eaeffb;

  --color-dark: #fff;
  --color-muted-dark: #858b97;
  --background-dark: #21222d;
  --background-secondary-dark: #23232e;
  --background-muted-dark: #2c2c37;

  --accent: #645fc7;
  --accent-66: #645fc7a8;
  --accent-33: #645fc754;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
